<div class="modal fade" id="addTrade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-top" role="document">   
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">ADD YOUR TRADE</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body px-5">

            <!-- Form -->
            <form id="addTradeForm" class="text-center" style="color: #757575;" method="POST" action="{% url 'trade:place-trade' %}">
    
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <select id="pair" class="mdb-select md-form" searchable="Search here..">
                                <option value="" disabled selected>Traded Pair</option>
                                {% for pair in pairs %}
                                <option value="{{pair.pk}}">{{pair.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <select id="position" class="mdb-select md-form" searchable="Search here..">
                                <option value="" disabled selected>Trade Position</option>
                                <option value="L">LONG</option>
                                <option value="S">SHORT</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">  
                        <div class="form-check  mt-4 pt-2">
                            <input type="checkbox" class="form-check-input" id="share">
                            <label class="form-check-label" for="share">Share Trade</label>
                        </div>
                    </div>
                </div>    

                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <select id="strategy" class="mdb-select md-form" searchable="Search here..">
                                <option value="" disabled selected>Trading Strategy</option>
                                {% for strategy in strategies %}
                                <option value="{{strategy.pk}}">{{strategy.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <select id="status" class="mdb-select md-form" searchable="Search here..">
                                <option value="" disabled selected>Trade Status</option>
                                <option value="O">OPEN</option>
                                <option value="C">CLOSED</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form status-effect d-none">
                            <select id="outcome" class="mdb-select md-form" searchable="Search here..">
                                <option value="" disabled selected>Trade Outcome</option>
                                <option value="G">GAIN</option>
                                <option value="L">LOSS</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form status-effect d-none">
                            <input type="text" id="pips" class="form-control">
                            <label for="pips">Pips</label>
                          </div>
                    </div>
                </div>

                <!--Textarea with icon prefix-->
                <div class="md-form amber-textarea active-amber-textarea row">
                    <div class="col-1">
                        <i class="fas fa-pencil-alt prefix"></i>
                    </div>
                    <div class="col-11">
                        <textarea type="text" id="description" class="md-textarea form-control" rows="3"></textarea>
                        <label for="description">TRADE DESCRIPTION</label>description
                    </div>
                </div>

                <!-- Submit up button -->
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Add Trade</button>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>