<table id="strategiesTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name</th>
        <th class="th-sm">Trades</th>
        <th class="th-sm">Open</th>
        <th class="th-sm">Closed</th>
        <th class="th-sm">Wins</th>
        <th class="th-sm">Lossess</th>
        <th class="th-sm">Win Rate</th>
        <th class="th-sm">+ Pips</th>
        <th class="th-sm">- Pips</th>
        <!-- <th class="th-sm">Shared</th> -->
        <th class="th-sm">View</th>
      </tr>
    </thead>
    <tbody> </tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Trades</th>
        <th>Open</th>
        <th>Closed</th>
        <th>Wins</th>
        <th>Lossess</th>
        <th>Win Rate</th>
        <th>+ Pips</th>
        <th>- Pips</th>
        <!-- <th>Shared</th> -->
        <th>View</th>
      </tr>
    </tfoot>
  </table>