<table id="tradesTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Pair</th>
        <th class="th-sm">Traded</th>
        <th class="th-sm">Strategy</th>
        <th class="th-sm">Outcome</th>
        <th class="th-sm">Pips</th>
        <th class="th-sm">Shared</th>
        <th class="th-sm">Status</th>
        <th class="th-sm">View</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
          <tr>
            <th>Pair</th>
            <th>Traded</th>
            <th>Strategy</th>
            <th>Outcome</th>
            <th>Pips</th>
            <th>Share</th>
            <th>Status</th>
            <th>View</th>
        </tr>
  </table>